<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow,max-image-preview:large">

<!-- Favicon -->
<link rel="icon" href="https://adrian-leonard-mociulschi.github.io/favicon.ico" type="image/x-icon">

<!-- JSON-LD4KG -->
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://adrian-leonard-mociulschi.github.io/#website",
      "url": "https://adrian-leonard-mociulschi.github.io/",
      "name": "Adrian Leonard Mociulschi",
      "inLanguage": "en",
      "image": {
        "@type": "ImageObject",
        "@id": "https://adrian-leonard-mociulschi.github.io/#og-image",
        "url": "https://adrian-leonard-mociulschi.github.io/assets/og/og-cover-adi-futura-1200x630.png",
        "width": 1200,
        "height": 630
      },
      "publisher": {
        "@type": "Person",
        "@id": "https://adrian-leonard-mociulschi.github.io/#person",
        "name": "Adrian Leonard Mociulschi",
        "url": "https://adrian-leonard-mociulschi.github.io/"
      }
    },
    {
      "@type": "Person",
      "@id": "https://adrian-leonard-mociulschi.github.io/#person",
      "name": "Adrian Leonard Mociulschi",
      "url": "https://adrian-leonard-mociulschi.github.io/",
      "image": {
        "@type": "ImageObject",
        "url": "https://adrian-leonard-mociulschi.github.io/assets/img/Adrian-Leonard-Mociulschi.jpg",
        "contentUrl": "https://adrian-leonard-mociulschi.github.io/assets/img/Adrian-Leonard-Mociulschi.jpg",
        "encodingFormat": "image/jpeg",
        "width": 3066,
        "height": 3066
      },
      "jobTitle": "University Lecturer, Essayist",
      "affiliation": {
        "@type": "Organization",
        "@id": "https://www.unmb.ro/#org",
        "name": "National University of Music Bucharest",
        "url": "https://www.unmb.ro/"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "ORCID",
        "value": "0009-0006-9328-8518",
        "url": "https://orcid.org/0009-0006-9328-8518"
      },
      "sameAs": [
        "https://orcid.org/0009-0006-9328-8518",
        "https://www.unmb.ro/profesor/mociulschi-adrian/",
        "https://www.contributors.ro/author/adrian-leonard-mociulschi/",
        "https://romanialibera.ro/author/adrian-mociulschi/",
        "https://revistacultura.ro/author/leonard/",
        "https://www.liternet.ro/autor/3774/Adrian-Leonard-Mociulschi.html",
        "https://www.curteaveche.ro/a/adrian-leonard-mociulschi",
        "https://www.researchgate.net/profile/Adrian-Leonard-Mociulschi"
      ],
      "knowsAbout": [
        {
          "@type": "Thing",
          "name": "AI ethics"
        },
        {
          "@type": "Thing",
          "name": "Technoculture"
        },
        {
          "@type": "Thing",
          "name": "Blockchain"
        },
        {
          "@type": "Thing",
          "name": "Music Theory"
        },
        {
          "@type": "Thing",
          "name": "Posthumanism"
        },
        {
          "@type": "Thing",
          "name": "Strategic foresight"
        }
      ],
      "nationality": {
        "@type": "Country",
        "name": "Romania"
      }
    }
  ]
}

<!-- meta: Automata silentia: vigilia sine praesentia -->
