.btn-github {
  display: none !important; 
}

/* --- Remove any pseudo-elements from the footer, such as links, images, and spans.--- */
.site-footer *:hover::before,
.site-footer *:hover::after {
  content: none !important;
}

/* --- CSS is needed to align the badge to the right in the footer. --- */
.rss-validator {
  float: right;
  margin-right: 10px;
  margin-top: 4px;
